@import "tailwindcss";


@theme {
  --color-primary-500: #042656;
  --color-primary-50: #dce3ed;
  --color-primary-0: #f4f8fe;

  --color-neutral-800: #262626;
  --color-neutral-700: #404040;
  --color-neutral-600: #525252;
  --color-neutral-500: #737373;
  --color-neutral-400: #a3a3a3;
  --color-neutral-300: #d3ded3;
  --color-neutral-50: #f9f9f9;
  --color-neutral-900: #171717;
  --color-neutral-100: #f4f4f4;
  --color-neutral-50: #f9f9f9;
  --color-neutral-900: #171717;

  --color-red-500: #ee4444;
  --color-red-800: #981b1b;
  --color-red-100: #fde1e1;

  --color-yellow-light: #fbe0b6;
  --color-yellow-normal: #f39c12;
  --color-yellow-light-hover: #fdf0db;

  --color-background: #f8f9fd;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-neutral-800);
  font-family: var(--font-montserrat), sans-serif;
}

.dark body {
  color: #e4e4e4;
}
